@import url(http://fonts.googleapis.com/css?family=Bitter);
/* -------------------------------------------------------------- Iconify 0.2 Quick n easy icons from font files to you markup http://mortendk.github.com/iconify --------------------------* * *------------------------------------ ___ __                         __  /'___\ /\_\    ___    ___     ___ /\_\/\ \__/  __  __ \/\ \  /'___\ / __`\ /' _ `\/\ \ \ ,__\/\ \/\ \ \ \ \/\ \__//\ \L\ \/\ \/\ \ \ \ \ \_/\ \ \_\ \ \ \_\ \____\ \____/\ \_\ \_\ \_\ \_\  \/`____ \ \/_/\/____/\/___/  \/_/\/_/\/_/\/_/   `/___/> \ /\___/ \/__/ ---------------------------* * *-----------------------------------
*/
@font-face { font-family: 'WebSymbolsRegular'; src: url("../fonts/websymbols/websymbols-regular-webfont.eot"); src: url("../fonts/websymbols/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/websymbols/websymbols-regular-webfont.woff") format("woff"), url("../fonts/websymbols/websymbols-regular-webfont.ttf") format("truetype"), url("../fonts/websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg"); font-weight: normal; font-style: normal; }

.iconify, h1:before, .test2:after, .test:before, .prev:before, .next:after { font-family: WebSymbolsRegular; font-size: 1em; vertical-align: top; }

body { background: #f6f6f6; font-family: bitter, serif; }

.page { width: 800px; margin: 0 auto; background: #eee; padding: 0px 50px 50px; border-radius: 10px; border: 2px dotted #ddd; }

h1 { color: #e3e2e2; font: 4em 'Bitter', serif; text-shadow: 1px 2px 5px #999999; text-transform: uppercase; vertical-align: top; }

h1:before { content: "C"; font-size: 1em; margin: -1em 1em 0em 0em; color: rgba(255, 255, 255, 0.9); text-shadow: 0px 0px 5px lightblue; }

.test2:after { content: "t"; }

.prev:before { content: "<"; }

.next:after { content: ">"; }

.next:hover { color: pink; font-size: 5em; }
