@import "fonticon-websymbols.scss";


//dirty resets
em,i{font-style: normal; }
body{
  background:#f6f6f6;
}
.page{
  width:900px;
  margin: 0 auto ;
  background:#eee;
  padding:10px;
}
header{}
  h1{
    font-family: 'Ultra', serif;
    font-size:3em;
  }
  header div:before{
    @extend .icon-heart;
    color:red;
    font-size:1em;
  }

  header h1 b:after {
    @extend .icon-heart-alt;
    color:pink;
  }
  header h1 em {

  }

div[role="main"]{border:1px solid gray;}
p{

}